* {
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
@keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Menggeser kontainer sejauh satu kartu */
    }
  }
  
h1,h2,h3{
    font-family: Poppins;
    font-weight:400;
}
p,span{
    font-family: Inter;
}


/* navbar area ===================================================================================== */
.navbar {
    background-color: #e9e8e310;
    backdrop-filter: blur(25px) saturate(120%);
    width: 100vw;
    height: 7vh;
    font-family: inter;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
}

.navbar-brand {
    color: #2B2B2B;
    padding-left: 90px;
    font-family: poppins;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    display: flex;

    font-size: 16px;
}

.navbar-item {

    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* list navbar --------------- */
.listitem {
    color: #2B2B2B;
    padding: 80px 20px;
    font-family: Inter;
}

.listitem-1 {
    background: #000000;
}


.listitem ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.listitem li {
    display: inline-block;
    margin: 15px;
}

.listitem a {
    font-size: 17px;
    text-decoration: none;
    color: #000000;
    display: block;
    position: relative;
    padding: 4px 0;
}

.listitem a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000000;
    transition: 0.5s transform ease;
    transform: scale3d(0, 1, 1);
}

.listitem a:hover::before {
    transform: scale3d(1, 1, 1);
}



.menu-1 a:hover::before {
    transform-origin: 0 50%;
}

/* container  p1 -----------------*/
.page1 {
      height: 100vh;
            background-image: url(backround-padir.png);

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            flex-direction: column;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background-color: #E9E8E3;
        }


.judul-page1 {
    margin-top: 15px;
    font-family: Lora;
    font-weight: 150;
    font-size: 65px;
    color: #343434;

    justify-content: center;
    align-items: center;
    display: contents;


}

.des-1 {
    margin-top: 20px;
    width: 70vw;
    font-family: poppins;
    font-size: 16px;


}

.img-page1 {
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
}

/* area tag   -------------------------------*/
/* .area-tag {
    width: auto;
    height: 20px;
    /* background-color: #e49b9b; */
    /* margin-top: 200px;
}

.area-tag ul {
    list-style-type: none;
    margin-top: 80px;
}

.area-tag li {
    display: inline;
    border-radius: 25px 25px 25px 25px;
    margin: 5px;
    background-color: #76745C;
    color: #e9e8e3b9;

    font-size: 13;
    font-family: inter;
    font-weight: 100;
    letter-spacing: 1px;
}

.tag-delimiter {
    color: transparent;
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.tag-normal {
    padding: 10px;
} */ 


.page2 {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100vw;
    height: auto;
    padding-bottom: 90px;
    background-color: #E9E8E3;
    flex-direction: column;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.tentangkami1 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.judul-page2 {
    margin-top: 80px;

    font-weight: 400;
    font-size: 50px;
}

.berawal {
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin-top: 70px;
}

.profile {
    flex-direction: row;
    display: flex;
}

.judulp {
    margin-left: 20px;
    font-weight: 350;
    color: #2B2B2B;
    font-size: 50px;
}

.sejak {
    margin-left: 20px;
    font-weight: normal;
    font-size: 24px;
}

.desp {
    text-align: justify;
    font-weight: 300;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 20px;

}

.fakta {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.fakta img {
    margin-right: 15px;
    transition: all 0.3s;
}



.visimisi {
    margin-top: 70px;
    margin-left: 70px;
    width: 30vw;
}

.judul-vm {
    font-weight: 350;
    color: #2B2B2B;
    font-size: 50px;
}

.sub-vm {
    font-size: 24px;
    font-weight: normal;

}

.des-vm {
    text-align: justify;
    font-weight: normal;
    font-size: 15px;
    margin-top: 15px;


}

.page3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #E9E8E3;
    flex-direction: column;
    padding-bottom: 70px;
}

.judul3 {
    margin-top: 150px;
    font-size: 48px;
    font-weight: 400;
    color: #2b2b2b;
}

.desk3 {
    margin-top: 30px;
    width: 70%;
    font-size: 16px;
    color: #515049;

    text-align: center;
}
/* scroll card  !!!!!!!!!!!!!!!!*/
.area-program{
    width: 75vw;
    margin-top: 90px;
    background-color: #cdccc800;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 250px;
    /* Aktifkan scrollbar vertical */

}
/* card================ */

.right{
    width: 100px;
    height: 500px;
    background-color: #0000009f;
    backdrop-filter: blur(105px) saturate(120%);

    margin: 20px;

    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
    display: inline-block;

    background-image: url(an.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



.card {
    width: 350px;
    height: 500px;
    background-color: #E9E8E3;

    border-radius: 20px;
    display: inline-block;

    margin: 20px;
    position: relative;
    overflow: hidden;
}
.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: brightness(80%);
    
}
.poster::before{
content: '';
position: absolute;
bottom: -45%;
left:0;
width: 100%;
height: 100%;
z-index: 1;
transition: .3s;
}
.card:hover .poster img{
bottom:0;

}
.poster img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
transition: .3s;
}
/* .card:hover .poster img{
transform: scale(1.1);
} */
.details{
position: absolute;
bottom:-100%;
left: 0;
width: 100%;
height: auto; 
padding: 1.5em 1.5em 2em;
background: rgba(0, 0, 0, 0.514);
backdrop-filter: blur(16px) saturate(120%);
transition:.3s ;
color: #fff;
z-index: 0.5;



text-align: left;
}
.card:hover .details{
bottom: 0;
}
.details p{
font-size: 17;
color: #cdccc8;
font-weight: lighter;

}
.details h1{
font-size: 28px;

color: #ffffff;
}
.btn-daftar{
width: 150px;
height: 40px;
background-color: #2B2B2B;

position: absolute;
z-index: 2;
left: 0;
top: 450px;

border-radius: 15px;
margin-left: 100px;
justify-content: center;
text-align: center;
display: flex;
align-items: center;
color: #FFFFFF;
transition: 0.3s ease-in-out;
cursor: pointer;

/* box-shadow: 2px 5px  10px #2b2b2b73; */
}
.card:hover .btn-daftar{
background-color: #E9E8E3;
color: #2b2b2b;

}
.btn-daftar p{
font-size: 20px;
font-family: Inter;
}







/* page 4 444444444444=============================== */
.news-page {
    width: 100vw;
    height: 100vh;
    background-color: #E9E8E3;

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;


}

.title-news {
    width: 100vw;
    height: 20vh;
    /* background-color: #76745C; */

    align-items: flex-end;
    text-align: center;
    justify-content: center;
    display: flex;
}

.title-news h1 {
    color: #2b2b2b;
    font-size: 48px;
}

.news-area {
    width: 75vw;
    height: 75vh;
    /* background-color: #cdccc8; */
    overflow-y: auto;
    /* Aktifkan scrollbar vertical */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}

/* berita */

.news-card {
    width: 32vw;
    height: 150px;
    background-color: #2b2b2b;

    margin: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;

    cursor: pointer;
}

.news-card:hover {
    background-color: #2b2b2bbb;
}

.text-news {
    width: 22vw;
    height: 100%;
    /* background-color: #2b2b2b5e; */
    border-radius: 20px;




}
.text-news img {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;

}

.text-news h1 {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 300;
    color: #e4e4e4;
}

.text-news p {
    margin-left: 10px;
    margin-top: 10px;

    color: #b6b6b6;
}

.img-news {
    width: 120px;
    height: 120px;
    /* background-color: #E5E5E5; */
    object-fit: cover;
}

.img-news img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.comunity-page {
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #E9E8E3;
}


.text-comunity {
    width: 100vw;
    height: 20vh;
    /* background-color: #76745C; */

    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.text-comunity p {
    font-size: 48px;
    color: #2b2b2b;
    font-weight: lighter;
}

.img-comunity {
    width: 100vw;
    height: 70vh;
}

.btn-area-gabung {
    width: 100vw;
    height: 10vh;

    justify-content: center;
    align-items: center;
    display: flex;
}
.gabung{
    margin-right: 10px;
    background-color: #2b2b2b00;
    padding: 10px 20px;
    
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}
.gabungw{
    margin-right: 10px;
    background-color: #2b2b2b;
    padding: 10px 20px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-family: inter;

}

.btn-area-gabung p {
    color: #E9E8E3;
    font-size: 20px;
    width: 150px;
    height: 40px;

    font-family: inter;
   
}


.img-comunity {
    width: 100%;
    height: 70vh;

    justify-content: center;
    align-items: center;
    display: flex;

}

.img-comunity img {
    width: 70%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.dk{
    font-size: 13px;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    margin-left: 50px;


}
.adk{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

}


/* contact */
.contact-area {
    width: 100vw;
    height: 70vh;
    background-image: linear-gradient(#606252, #38361E);
    
}

.img-contact {
    background-image: url(backround-padir.png);
    width: 100%;
    height: 100%;
    background-position: center;

    background-size: cover;
}

.blur-backround-contact {
    width: 100%;
    height: 100%;
    background-color: #2b2b2b50;
    backdrop-filter: blur(56px) saturate(120%);

    justify-content: space-around;
    align-items: center;
    display: flex;

}

.contact-logo {
    width: 30%;
    height: 100%;

    justify-content: center;
    align-items: center;
    display: flex;
}

.contact-logo img {
    width: 65%;

}

.contact {
    width: 25vw;
    height: 65%;
    /* height: 500px; */
    border-radius: 10px;
    background-color: none;

    border: none;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;

}

/* form */
.form {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;


}

.ct {
    margin-bottom: 10px;
    color: #e9e8e360;
    font-weight: 500;
}

input {
    width: 100%;
    height: 30px;
    margin: 5px;
    background-color: transparent;
    color: #000000;
    background-color: #0000005b;
    border-radius: 5px;
    border: none;

    padding: 5px 5px 5px 5px;

    margin-left: -8px;
}

#gmail {
    width: 100%;

}

#msg {
    width: 100%;
    max-width: 350px;
    max-height: 150px;
    margin: 10px;
    background-color: #0000005b;
    color: #ffffff;
    border: none;
    border-radius: 5px;

    padding: 5px 5px 5px 10px;

    margin-left: -8px;

}

#sbmt {
    width: 100%;
    height: 30%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0000005b;
    color: #ffffff;
    border: none;

}

footer {
    width: 100vw;
    height: 10vh;
    background-color: #1b1a0f;

    align-items: center;
    text-align: center;
    color: #b6b6b6;
    justify-content: center;
    display: flex;


}


